.menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 60%;
    right: 15%; 
    padding-left: 75px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267)
}


.menu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;;
}

.menu_items {
    display: flex;
}

.menu a {
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif
}

.menu a p:hover {
   padding-bottom: 8px;
}
